body {
    background-color: #990000;
    font-size: 12pt;
}

body, body * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#filterBox {
    text-align: center;
}

select {
    background-color: #EDEBEB;
    height: 50px;
    width: auto;
    text-align: center;
    border: 0px solid white;
    border-radius: 5px;
    font-size: 16pt;
}

.filter {
    color: black;
    background-color: #EDEBEB;
    border-radius: 5px;
    text-align: center;
    display: none;
    padding: 10px;
    width: 200px;
}

#majorMenu {
    margin-right: 25px;
}

#majFilter, #proFilter {
    margin-bottom: 25px; 
    margin-right: 25px;
}

select, #clear, .filter, .filter::after {
    transition: all .25s ease-in-out;
}

select:hover, #clear:hover {
    filter: invert(1);
}

.filter:not(#clear):hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 30px black;
}

option {
    color: black;
}

.filter::after {
    content: "✕";
    color: #990000;
}

#clear::after {
    content: "";
}

.textDiv {
    color: white;
    transform: translateX(50px);
    text-align: left;
}

.picDiv {
    width: auto;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: flex;
    align-items: center;
}

#whole {
    display: inline-block;
    width: 94vw;
    height: auto;
    padding-top: 80px;
    border-radius: 50px;
    background-color: black;
    white-space: nowrap;
}

@media only screen and (max-width: 680px) {
  #whole {
    display: ;
  }
  
  #whole div {
      display: ;
  }
  
  .card {
      padding-bottom: 15vw;
  }
  
  .pic {
      width: 25.06666667vw;
      height: auto;
      float: left;
  }
  
  .picDiv {
      padding-left: 6vw;
  }
  
  .textDiv {
      float: right;
      width: 40vw;
  }
  
  .inner {
      font-size: 2vw;
  }
  
  .largeFont {
      font-size: 2.8vw;
  }
}

@media only screen and (min-width: 680px) {
    .pic {
        float: left;
    }

    .card {
        padding-bottom: 103px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .largeFont {
        font-size: 16pt;
    }
}

@media only screen and (min-width: 1084px) {
  #whole {
    width: 975px;
  }
}